/* Ext JS overrides */
.x-grid-header-ct {
    display:none;
}

/* Action icons */
.action-fullextent {
	background-image: url("images/map-resize.png");
}
.action-print {
	background-image: url("images/printer.png");
}
.action-search {
	background-image: url("images/information-white.png");
}
.action-measureline {
	background-image: url("images/ruler.png");
}
.action-measurearea {
	background-image: url("images/ruler-triangle.png");
}
.action-drawobject {
	background-image: url("images/layer--plus.png");
}
.action-modifygeometry {
	background-image: url("images/layer--pencil.png");
}
.action-drawgeometry {
	background-image: url("images/layer--plus.png");
}
.action-drawtext {
	background-image: url("images/layer-shape-text.png");
}
.action-deletegeometry {
	background-image: url("images/layer--minus.png");
}
.action-selectgeometry {
	background-image: url("images/layer-select.png");
}



/* custom action icons */

.action-draweldstad {
	background-image: url("images/fire--pencil.png");
}

/* attribution styles */

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

.attribution {
	position: absolute;
	bottom:0px;
	right:0px;
}
