.btn {
  border: 0;
  display: block;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  padding: 10px 20px 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}
.btn:hover {
  color: #fff;
}
.btn.btn-search {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'riges-icons-xl';
  font-size: 33px;
  font-weight: 400;
  text-shadow: none;
  display: inline-block;
  background: #2969bf;
  width: 44px;
  height: 41px;
  padding: 0;
  vertical-align: top;
}
.btn.btn-search:hover {
  background: #245da6;
}
.btn.btn-blue {
  background: #2969bf;
}
.btn.btn-blue:hover {
  background: #245da6;
  border-top: 1px solid #245da6;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #5b86bc;
}
.btn.btn-red {
  background: #e44048;
}
.btn.btn-red:hover {
  background: #ce393d;
  border-top: 1px solid #ce393d;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #ec6e73;
}
.btn.btn-yellow {
  background: #c7c2a9;
  color: #424242;
}
.btn.btn-yellow:hover {
  background: #c7c2a9;
  border-top: 1px solid #c7c2a9;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #d5d1bf;
}
.btn.btn-green {
  background: #29bf4c;
}
.btn.btn-green:hover {
  background: #37a648;
  border-top: 1px solid #37a648;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #69bc76;
}
.btn.btn-dark {
  background: #424242;
}
.btn.btn-dark:hover {
  background: #303030;
  border-top: 1px solid #303030;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #636363;
}
.btn.btn-light {
  background: #e7e7e7;
  color: #424242;
  text-shadow: none;
}
.btn.btn-light:hover {
  background: #dddddd;
  border-top: 1px solid #dddddd;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #e6e6e6;
}
.btn.btn-file {
  display: inline-block;
  margin: 4px 0 4px 0;
  background: #ffef9f;
  color: #424242;
  text-shadow: none;
  text-align: left;
}
.btn.btn-file .size {
  font-weight: 400;
  font-style: italic;
  color: #878787;
}
.btn.btn-file:hover {
  background: #f7e277;
  border-top: 1px solid #f7e277;
  padding-top: 9px;
  box-shadow: inset 0 1px 0 #f9e999;
}
.btn.btn-inline {
  display: inline-block;
  margin-left: 4px;
}
.btn.btn-right {
  float: right;
}
.btn.btn-left {
  float: left;
}
.btn:after, .btn:before {
  margin-top: 1px;
}
.btn.xl {
  font-size: 20px;
  font-weight: 600;
  text-shadow: none;
  padding: 13px 40px 12px;
  line-height: 1.4;
}
.btn.xl:hover {
  padding: 12px 40px 12px;
}
.btn i:after, .btn i:before {
  margin-top: 2px;
}

.btns-inline {
  padding-top: 10px;
}
.btns-inline .btn {
  display: inline-block;
}
.btns-inline .or {
  display: inline-block;
  padding: 0 14px;
}

/* ========== MOBILE ========== */
@media screen and (max-width: 480px) {
  .btn.arrow-mobile {
    padding: 20px 40px 21px;
  }
  .btn.arrow-mobile i:before {
    margin-right: 0;
  }
  .btn.arrow-mobile:hover {
    padding: 19px 40px 21px;
  }
  .btn.btn-file {
    padding: 10px 15px 9px;
  }
  .btn.btn-file .size {
    display: none;
  }
}
input {
  margin: 0;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 12px 0;
}

input[type=text] {
  border-radius: 3px;
  outline: 0;
  width: 364px;
  padding: 12px 13px;
  margin-top: 6px;
  color: #424242;
  resize: none;
}
input[type=text]:focus {
  border-color: #2969bf;
}
input[type=text]:disabled {
  background: #e7e7e7;
  border-color: #cacaca;
}
input[type=text].full {
  width: 97%;
  padding: 12px 1.5%;
}

textarea {
  width: 784px;
  height: 152px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  outline: 0;
  padding: 12px 13px;
  color: #424242;
}
textarea:focus {
  border-color: #2969bf;
}
textarea.full {
  width: 97%;
  padding: 12px 1.5%;
}

input[type=text].input-error, textarea.input-error, .input-error input[type=text], .input-error textarea {
  border-color: #e14343;
  background: #fff6f6;
}

.input-error select {
  border-color: #e14343;
  background-color: #fff6f6;
  background-position: right -62px;
}
.input-error select:hover {
  background-color: #fff6f6;
  background-position: right -93px;
}

.input-error select + i {
  right: 262px;
}

.input-error {
  position: relative;
}
.input-error i {
  display: block;
  position: absolute;
  top: 26px;
  right: 15px;
  bottom: 0;
  margin: auto;
  *top: 50%;
  *margin-top: 7px;
  width: 11px;
  height: 11px;
}
.input-error i:after {
  color: #e14343;
  margin-top: 0;
  margin-left: 0;
}

input[type=text]:-ms-clear {
  display: none;
}

input[type=radio], input[type=checkbox] {
  display: none;
  *display: block;
  *float: left;
  *margin: 8px 11px 11px;
  *background: none;
  *border: 0;
}

input[type=radio]:checked + label:before {
  content: "\2022";
  font-size: 32px;
  line-height: 10px;
  padding: 0;
  text-align: center;
  color: #29bf4c;
}

input[type=radio] + label:active:before {
  background: #e0f5e7;
}

input[type=radio] + label.disabled:active:before {
  background: #e7e7e7;
}

input[type=checkbox]:checked + label:before {
  font-family: 'riges-icons';
  content: "c";
  font-size: 18px;
  line-height: 12px;
  padding: 0;
  text-align: center;
  color: #29bf4c;
  border-color: #29bf4c;
}

input[type=checkbox]:checked + label.disabled:before {
  content: "c";
  font-size: 18px;
  line-height: 12px;
  padding: 0;
  text-align: center;
  color: #7d7d7d;
  background: #e7e7e7;
  border-color: #cacaca;
}

input[type=checkbox]:checked + label.disabled {
  color: #424242;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
label.required:after {
  margin-left: 1px;
  content: "*";
}

input[type=checkbox] + label:active:before {
  background: #e0f5e7;
}

input[type=checkbox] + label.disabled:active:before {
  background: #e7e7e7;
}

label.checkbox, label.radio {
  position: relative;
  display: block;
  padding: 0 11px 10px 28px;
  cursor: pointer;
}
label.checkbox.disabled, label.radio.disabled {
  color: #cacaca;
}
label.checkbox.disabled:before, label.radio.disabled:before {
  color: #88ffaa;
  background: #e7e7e7;
}
label.checkbox:before, label.radio:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  margin-right: 11px;
  border: 1px solid #cacaca;
  background: #fff;
  border-radius: 3px;
  *display: none;
}
label.checkbox.radio:before, label.radio.radio:before {
  border-radius: 9px;
}

select {
  font-family: 'Source Sans Pro', sans-serif;
  width: 202px;
  height: 31px;
  line-height: 31px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: 600;
  background: #fbfbfb url(../images/select-sprite.png) right 0 no-repeat;
  color: #424242;
  cursor: pointer;
  whitespace: nowrap;
  text-overflow: ellipsis;
  text-indent: 15px;
}
select:hover {
  background-color: #f5f5f5;
  background-position: right -31px;
}

.ie select {
  background: #fff;
  padding-left: 10px;
}

fieldset {
  font-size: 16px;
  width: 100%;
}
fieldset i {
  display: none;
}
fieldset .split {
  float: left;
  width: 422px;
  margin-bottom: 26px;
}
fieldset .split.odd {
  width: 392px;
}
fieldset .split input[type=text] {
  width: 364px;
}
fieldset .split .select-box {
  margin-top: 6px;
}
fieldset .split .left {
  float: left;
  width: 191px;
}
fieldset .split .left input[type=text] {
  width: 134px;
}
fieldset .split .right {
  float: left;
  width: 202px;
}
fieldset .split .right input[type=text] {
  width: 174px;
}
fieldset #select_1, fieldset #select_2 {
  *z-index: 1000;
}
fieldset #select_3, fieldset #select_4 {
  *z-index: 900;
}

/* ========== TABLET ========== */
@media screen and (max-width: 1004px) {
  textarea {
    width: 95.77308%;
  }

  fieldset {
    display: block;
    float: left;
    margin-right: 1.88679%;
    width: 100%;
  }
  fieldset:last-child {
    margin-right: 0;
  }
  fieldset .split {
    display: block;
    float: left;
    margin-right: 1.88679%;
    width: 49.0566%;
  }
  fieldset .split:last-child {
    margin-right: 0;
  }
  fieldset .split.odd {
    display: block;
    float: left;
    margin-right: 1.88679%;
    width: 49.0566%;
    margin-right: 0;
  }
  fieldset .split.odd:last-child {
    margin-right: 0;
  }
  fieldset .split input[type=text] {
    width: 95%;
    padding: 12px 2% 12px 3%;
  }
  fieldset .split .left {
    display: block;
    float: left;
    margin-right: 3.84615%;
    width: 35.09615%;
  }
  fieldset .split .left:last-child {
    margin-right: 0;
  }
  fieldset .split .left input[type=text] {
    width: 95%;
    padding: 12px 2% 12px 3%;
  }
  fieldset .split .right {
    display: block;
    float: left;
    margin-right: 3.84615%;
    width: 61.05769%;
    margin-right: 0;
  }
  fieldset .split .right:last-child {
    margin-right: 0;
  }
  fieldset .split .right input[type=text] {
    width: 95%;
    padding: 12px 2% 12px 3%;
  }
}
/* ========== MOBILE ========== */
@media screen and (max-width: 480px) {
  input[type=text], textarea {
    width: 95%;
    padding: 12px 2% 12px 3%;
  }

  fieldset {
    display: block;
    float: left;
    margin-right: 3.84615%;
    width: 100%;
  }
  fieldset:last-child {
    margin-right: 0;
  }
  fieldset .split {
    display: block;
    float: left;
    margin-right: 3.84615%;
    width: 100%;
  }
  fieldset .split:last-child {
    margin-right: 0;
  }
  fieldset .split.odd {
    display: block;
    float: left;
    margin-right: 3.84615%;
    width: 100%;
  }
  fieldset .split.odd:last-child {
    margin-right: 0;
  }
  fieldset .split input[type=text] {
    width: 95%;
    padding: 12px 2% 12px 3%;
  }
}
.select-box {
  position: relative;
  display: block;
  width: 200px;
  height: 33px;
  line-height: 33px;
  border: 1px solid #e7e7e7;
  background: #fbfbfb;
  color: #424242;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}
.select-box:hover {
  background: #f5f5f5;
}
.select-box:hover .arrow {
  background: #dddddd;
}
.select-box .text {
  float: left;
  box-shadow: inset 1px 1px 0 white;
  width: 152px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 15px;
  font-weight: 600;
  border-radius: 3px 3px 0 0;
}
.select-box .arrow {
  float: right;
  background: #e7e7e7;
  width: 33px;
  height: 33px;
  font-size: 11px;
  line-height: 33px;
  text-align: center;
  font-family: 'riges-icons';
  border-radius: 0 3px 3px 0;
}
.select-box .options {
  display: none;
  position: absolute;
  width: 200px;
  background: transparent;
  border-radius: 3px 3px 0 0;
  border: 1px solid #e7e7e7;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  left: -1px;
  top: 33px;
  z-index: 1;
  max-height: 126px;
  overflow: auto;
}
.select-box .options ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  background: #ffffff;
}
.select-box .options ul li {
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7;
  line-height: 1;
  padding: 0;
}
.select-box .options ul li:last-child {
  border: 0;
}
.select-box .options ul li a {
  clear: left;
  display: block;
  color: #424242;
  text-decoration: none;
  margin: 0;
}
.select-box .options ul li a .text {
  float: left;
  width: 145px;
  font-weight: 400;
  padding: 13px 0 13px 16px;
}
.select-box .options ul li a .count {
  float: left;
  margin-top: 9px;
  width: 19px;
  border-radius: 3px;
  background: #e7e7e7;
  color: #424242;
  text-align: center;
  padding: 4px 0;
}
.select-box .options ul li:hover .text {
  color: #2969bf;
}
.select-box .options ul li:hover .count {
  background: #2969bf;
  color: #fff;
}
.select-box .options ul li.selected a {
  color: #dddddd;
}
.select-box .options ul li.selected a .count {
  background: #dddddd;
  color: #fff;
}
.select-box .options ul li.selected a:hover .text {
  color: #dddddd;
}
.select-box .options.with-search {
  top: 73px;
}
.select-box .search {
  display: none;
  position: absolute;
  width: 400px;
  background: transparent;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  left: -1px;
  top: 33px;
  height: 42px;
  z-index: 1;
  overflow: hidden;
  background: #fff;
}
.select-box .search input {
  margin: 0;
  border: 0;
}
.select-box.active {
  background: #e7e7e7;
  border-radius: 3px 3px 0 0;
}
.select-box.active .text {
  box-shadow: none;
}
.select-box.active .arrow {
  background: #424242;
  color: #fff;
  border-radius: 0 3px 0 0;
}
.select-box.active .options, .select-box.active .search {
  display: block;
}
.select-box.right {
  float: right;
  margin-top: 8px;
}
.select-box.left {
  float: left;
}
.select-box.with-search {
  width: 400px;
}
.select-box.with-search .text {
  width: 352px;
}
.select-box.with-search .options {
  width: 400px;
}

/* ========== MOBILE ========== */
@media screen and (max-width: 1004px) {
  .select-box {
    height: 41px;
    line-height: 41px;
  }
  .select-box .arrow {
    height: 41px;
    line-height: 41px;
  }
  .select-box .options {
    top: 41px;
  }
}
i {
  position: relative;
  font-family: 'riges-icons';
  font-style: normal;
  font-size: 11px;
  line-height: 1;
}
i[title] {
  cursor: pointer;
}
i[title]:hover {
  color: #2969bf;
}
i.inline {
  margin-right: 5px;
}
i.xl {
  font-family: 'riges-icons-xl';
  font-size: 33px;
}
i.icon-blue {
  color: #2969bf;
  margin-right: 0;
}
i.sender:before, i.sender:after {
  margin-top: 6px;
}
i.official:before, i.official:after {
  margin-top: 11px;
}

.ui-tooltip {
  position: absolute;
  z-index: 101;
  text-align: left;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding: 12px;
  background: #303030;
  border-radius: 4px;
}
.ui-tooltip .marker {
  position: absolute;
  display: block;
  bottom: -8px;
  right: 15px;
  background: url(../images/marker-sprite.png) 0 -20px no-repeat;
  width: 16px;
  height: 8px;
}
.ui-tooltip.ui-tooltip-flip .marker {
  left: 15px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, fieldset:before, fieldset .split:before, .select-box .options ul li:before, .select-box .options ul li a:before, .files li:before, .files li .file:before,
.clearfix:after,
fieldset:after,
fieldset .split:after,
.select-box .options ul li:after,
.select-box .options ul li a:after,
.files li:after,
.files li .file:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after, fieldset:after, fieldset .split:after, .select-box .options ul li:after, .select-box .options ul li a:after, .files li:after, .files li .file:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, fieldset, fieldset .split, .select-box .options ul li, .select-box .options ul li a, .files li, .files li .file {
  *zoom: 1;
}

.upload {
  background: #fff;
  border: 2px dashed #cacaca;
  padding: 36px 0;
  text-align: center;
}
.upload h3 {
  font-size: 18px;
  color: #cacaca;
  padding: 0 0 11px;
}
.upload .btn-upload {
  display: inline-block;
  margin: 0 auto 6px;
}
.upload span {
  display: block;
  font-size: 14px;
}
.upload.active, .upload:hover {
  background: #f3f8ff;
  border-color: #2969bf;
}

.files {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  clear: both;
}
.files li {
  padding: 0 0 0;
  margin: 0 0 5px;
  background: #fff;
}
.files li .file span, .files li .file a {
  line-height: 1;
  font-size: 16px;
  color: #cacaca;
}
.files li .file span.name, .files li .file a.name {
  padding: 15px 0 13px 10px;
  float: left;
  font-weight: 600;
}
.files li .file span.italic, .files li .file a.italic {
  float: left;
  padding: 15px 0 13px 2px;
}
.files li .file span.progress, .files li .file a.progress {
  float: right;
  padding: 16px 21px 14px 0;
  font-style: italic;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  color: #2969bf;
}
.files li .file span.progress:after, .files li .file a.progress:after {
  margin-top: 2px;
}
.files li .progressbar {
  background: #cacaca;
  height: 4px;
}
.files li .progressbar .innerbar {
  background: #2969bf;
  height: 4px;
}
.files li.finished .file span, .files li.finished .file a {
  color: #424242;
}
.files li.finished .file span.progress, .files li.finished .file a.progress {
  font-style: normal;
  color: #424242;
}
.files li.finished .file span.progress:hover, .files li.finished .file a.progress:hover {
  color: #2969bf;
}
.files li.finished .progressbar .innerbar {
  background: #29bf4c;
}
.files.preview li .btn {
  margin: 5px 0 5px 5px;
}
