/**
Specific style for the admin part of the CalculationBasisQuery.
*/

.text-align-right { text-align: right; }
.text-align-left { text-align: left; }
.link-section { padding-top: 2em; font-weight: bold; font-size: 1em; }

/****************************************************
Operand */
#operandsSection { border-left: .1em solid #ededed; }
#operandsSection h4 { line-height: 2; }
.operand[draggable] { text-align: center; border-radius: .5em; border: .1em solid #e8e8e8; /*padding: 0.2em;*/ margin-bottom: .2em; font-weight: bold; font-size: 1.5em; }
.operand[draggable]:hover { background-color: #e5ffdd; border-color: #668c05; cursor: pointer; }

/****************************************************
Parameter */



/****************************************************
Formula */
#formulasSection .formulas .row { min-height: 5em; border: 1px dotted #000; margin: 0 .3em .3em .3em;  }
#formulasSection .formulas .row .glyphicon-remove { font-size: 1.4em; margin-top: .1em; margin-right: .1em; color: red; }
#formulasSection .formulas .row .glyphicon-remove:hover { cursor: pointer; }


/****************************************************
Views */
.tab-content { min-height: 20em; border: 1px dotted #000; }
.tab-pane .row {   border: 1px solid #ededed; height: 3.5em; margin-left: 0; margin-right: 0; }
.tab-pane .row div[class^="col-lg"] { border: 1px solid #000; height: 100%; }


/****************************************************
View Component Section */
#viewComponentsSection { border-left: .1em solid #ededed; }
div[data-row], div[data-col] { border-radius: .5em; margin: .2em; border-radius: .5em; border: .1em solid #e8e8e8; font-weight: bold; font-size: 1.5em; }
div[data-row]:hover, div[data-col]:hover { background-color: #e5ffdd; border-color: #668c05; cursor: pointer; }
.inner-text { width: 100%; text-align: center; padding-top: .2em; }