/**
Layout fixes to solve the implementation of the Twitter Bootstrap Framework
*/
body
{
	background: #e7e7e7;
}
.content{
	width:100%;
}

/*Overrides of the OH retarded Interface.css*/
select {
	appearance: menulist!important;
	-webkit-appearance: menulist!important;
	-moz-appearance: menulist!important;
	text-indent: 0!important;
}