.search-wrapper {
	@include span-columns(5 of 9);

	.search {
		@include pad(0 $padLR);

		.input-wrapper {
			@extend .clearfix;
			position: relative;
			margin: 0;
			border-radius: 3px;
			padding-right: 86px;
			//background: #f0dadd;
			
			input[type=text] {
				display: block;
				background-position: right 0;
				width: 96.7557252%;
				padding: 12px 0 11px 3.2442748%;
				outline: 0;
				border-right: 0;
				margin: 0;
				border-radius: 3px 0 0 3px;

				&.ipad {
					padding: 11px 0 10PX 3.2442748%;
				}

				&:focus {
					border-color: $mainBorderColor;
				}

			}

			&.searching {
				input[type=text], .symbol {
					background: #f3f8ff;
				}
			}

			&.focus {
				input[type=text], .symbol {
					border-color: $mainAccentColor;
					i {
						color: $mainAccentColor;
					}
				}
			}
			.symbol {
				position: absolute;
				top: 0;
				*top: 1px;
				right: 50px;
				width: 36px;
				height: 39px;
				border: 1px solid $mainBorderColor;
				border-left: 0;
				border-radius: 0 3px 3px 0;
				background: #fff;

				i {
					color: $mainBorderColor;
					display: block;
					padding: 3px 0 0 0;
					text-align: center;
				}
			}
		}
	}
}

.tags-wrapper {
	@include span-columns(4 of 9);
	@include omega;

	.tags {

		h1 {
			padding: 16px 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				float: left;
				padding: 0 14px 0 0;
				margin: 0;

				a {
					font-weight: 600;
					line-height: 25px;
					color: $mainAccentColor;
					text-decoration: none;
					white-space: nowrap;

					&:hover {
						border-bottom: 1px dotted $mainAccentColor;
					}
				}
			}
		}
	}
}

.select-wrapper {
	float: right;
	padding: 21px 3.1380753% 0 0;
	width: 200px;
}

.previews {
	list-style: none;
	margin: 23px 0 0 0;
	padding: 0;

	li {
		@include span-columns(4 of 9);
		@include omega(3n);
		margin-bottom: 20px;

		a {
			color: $mainForegroundColor;
			text-decoration: none;

			&:hover {
				color: $mainAccentColor;
			}
		}

		.inner {
			@include pad(0 0 0 $padLR);
			*max-height: 68px;
			*overflow: hidden;
		}

		&.odd {
			@include omega;

			.inner {
				@include pad(0 $padLR 0 0);
			}
		}

		figure {
			float: left;
			width: 63px;
			height: 63px;
			border: 1px solid $mainBorderColor;
			color: $mainBorderColor;
			overflow: hidden;
			border-radius: 3px;
			margin-right: $gutter;
			background: #ffffff;
		}

		div {

			p {
				display: block;
				margin-top: 0;
				overflow: hidden;
			}
		}

		&.separator {
			@include span-columns(1 of 9);
			background: none;
		}

		&:hover {
			
			.gray {

				&::after {
					display: inline-block;
				}
			}
		}
	}
}

/* ========== MOBILE ========== */

@include media($mobile) {
	.search-wrapper {
		@include span-columns(4 of 4);
	}

	.tags-wrapper {
		@include span-columns(4 of 4);

		.tags {
			display: none;
			@include pad(0 $padLR);
		}
	}

	.previews {

		li {
			@include span-columns(4 of 4);
			@include omega;

			.inner {
				@include pad(0 $padLR);
			}

			&.odd {
				.inner {
					@include pad(0 $padLR);
				}
			}

			&.separator {
				display: none;
			}
		}
	}
}